Hemrika.SharePresence/WebSite/Service References/GateKeeperService/GateKeeperService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GateKeeperService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IGateKeeperService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NtlmAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BasicHttpBinding_IGateKeeperService2_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NtlmAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://development/_vti_bin/SharePresence/GateKeeperService.svc/mex?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://development/_vti_bin/SharePresence/GateKeeperService.svc/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://development/_vti_bin/SharePresence/GateKeeperService.svc/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hemrika.SharePresence.WebSite.Modules.GateKeeper" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGateKeeperService_HasListing_InputMessage">
    <wsdl:part name="parameters" element="tns:HasListing" />
  </wsdl:message>
  <wsdl:message name="IGateKeeperService_HasListing_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasListingResponse" />
  </wsdl:message>
  <wsdl:message name="IGateKeeperService_GateKeeper_InputMessage">
    <wsdl:part name="parameters" element="tns:GateKeeper" />
  </wsdl:message>
  <wsdl:message name="IGateKeeperService_GateKeeper_OutputMessage">
    <wsdl:part name="parameters" element="tns:GateKeeperResponse" />
  </wsdl:message>
  <wsdl:message name="IGateKeeperService_HoneyPot_InputMessage">
    <wsdl:part name="parameters" element="tns:HoneyPot" />
  </wsdl:message>
  <wsdl:message name="IGateKeeperService_HoneyPot_OutputMessage">
    <wsdl:part name="parameters" element="tns:HoneyPotResponse" />
  </wsdl:message>
  <wsdl:message name="IGateKeeperService_HTTP_InputMessage">
    <wsdl:part name="parameters" element="tns:HTTP" />
  </wsdl:message>
  <wsdl:message name="IGateKeeperService_HTTP_OutputMessage">
    <wsdl:part name="parameters" element="tns:HTTPResponse" />
  </wsdl:message>
  <wsdl:message name="IGateKeeperService_Drone_InputMessage">
    <wsdl:part name="parameters" element="tns:Drone" />
  </wsdl:message>
  <wsdl:message name="IGateKeeperService_Drone_OutputMessage">
    <wsdl:part name="parameters" element="tns:DroneResponse" />
  </wsdl:message>
  <wsdl:message name="IGateKeeperService_Proxy_InputMessage">
    <wsdl:part name="parameters" element="tns:Proxy" />
  </wsdl:message>
  <wsdl:message name="IGateKeeperService_Proxy_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProxyResponse" />
  </wsdl:message>
  <wsdl:portType name="IGateKeeperService">
    <wsdl:operation name="HasListing">
      <wsdl:input wsaw:Action="http://tempuri.org/IGateKeeperService/HasListing" message="tns:IGateKeeperService_HasListing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGateKeeperService/HasListingResponse" message="tns:IGateKeeperService_HasListing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GateKeeper">
      <wsdl:input wsaw:Action="http://tempuri.org/IGateKeeperService/GateKeeper" message="tns:IGateKeeperService_GateKeeper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGateKeeperService/GateKeeperResponse" message="tns:IGateKeeperService_GateKeeper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HoneyPot">
      <wsdl:input wsaw:Action="http://tempuri.org/IGateKeeperService/HoneyPot" message="tns:IGateKeeperService_HoneyPot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGateKeeperService/HoneyPotResponse" message="tns:IGateKeeperService_HoneyPot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HTTP">
      <wsdl:input wsaw:Action="http://tempuri.org/IGateKeeperService/HTTP" message="tns:IGateKeeperService_HTTP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGateKeeperService/HTTPResponse" message="tns:IGateKeeperService_HTTP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Drone">
      <wsdl:input wsaw:Action="http://tempuri.org/IGateKeeperService/Drone" message="tns:IGateKeeperService_Drone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGateKeeperService/DroneResponse" message="tns:IGateKeeperService_Drone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Proxy">
      <wsdl:input wsaw:Action="http://tempuri.org/IGateKeeperService/Proxy" message="tns:IGateKeeperService_Proxy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGateKeeperService/ProxyResponse" message="tns:IGateKeeperService_Proxy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGateKeeperService" type="tns:IGateKeeperService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IGateKeeperService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HasListing">
      <soap:operation soapAction="http://tempuri.org/IGateKeeperService/HasListing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GateKeeper">
      <soap:operation soapAction="http://tempuri.org/IGateKeeperService/GateKeeper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HoneyPot">
      <soap:operation soapAction="http://tempuri.org/IGateKeeperService/HoneyPot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HTTP">
      <soap:operation soapAction="http://tempuri.org/IGateKeeperService/HTTP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Drone">
      <soap:operation soapAction="http://tempuri.org/IGateKeeperService/Drone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Proxy">
      <soap:operation soapAction="http://tempuri.org/IGateKeeperService/Proxy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IGateKeeperService1" type="tns:IGateKeeperService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HasListing">
      <soap:operation soapAction="http://tempuri.org/IGateKeeperService/HasListing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GateKeeper">
      <soap:operation soapAction="http://tempuri.org/IGateKeeperService/GateKeeper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HoneyPot">
      <soap:operation soapAction="http://tempuri.org/IGateKeeperService/HoneyPot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HTTP">
      <soap:operation soapAction="http://tempuri.org/IGateKeeperService/HTTP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Drone">
      <soap:operation soapAction="http://tempuri.org/IGateKeeperService/Drone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Proxy">
      <soap:operation soapAction="http://tempuri.org/IGateKeeperService/Proxy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IGateKeeperService2" type="tns:IGateKeeperService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IGateKeeperService2_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HasListing">
      <soap:operation soapAction="http://tempuri.org/IGateKeeperService/HasListing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GateKeeper">
      <soap:operation soapAction="http://tempuri.org/IGateKeeperService/GateKeeper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HoneyPot">
      <soap:operation soapAction="http://tempuri.org/IGateKeeperService/HoneyPot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HTTP">
      <soap:operation soapAction="http://tempuri.org/IGateKeeperService/HTTP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Drone">
      <soap:operation soapAction="http://tempuri.org/IGateKeeperService/Drone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Proxy">
      <soap:operation soapAction="http://tempuri.org/IGateKeeperService/Proxy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GateKeeperService">
    <wsdl:port name="BasicHttpBinding_IGateKeeperService" binding="tns:BasicHttpBinding_IGateKeeperService">
      <soap:address location="http://development/_vti_bin/SharePresence/GateKeeperService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>